In [ ]:
def multiply_list(items):
    a = 1
    for x in items:
        a *= x
    return a

b = []
n = int(input("Entrez le nombre d'éléments de la liste: "))

for i in range(0, n):
    c = int(input())
    b.append(c)

print("La liste est: ", b)
print("Le résultat est:", multiply_list(b))

In [9]:
sample_list = [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
sorted_list = sorted(sample_list, key=lambda x: x[-1])

print(sorted_list)

[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [10]:
d1 = {'a': 100, 'b': 200, 'c': 300}
d2 = {'a': 300, 'b': 200, 'd': 400}

result = {}
for key in d1.keys() :
    if key in d2:
        result[key] = d1[key] + d2[key]
    else :
        result[key] = d1[key]
for key in d2.keys() :
    if key not in result :
        result[key] =d2[key]
print(result)

{'a': 400, 'b': 400, 'c': 300, 'd': 400}

In [7]:
n = int(input("entrer un entier : "))
x = {}
for i in range (1,n):
    x[i] = i*i
print(x)

entrer un entier : 5
{1: 1, 2: 4, 3: 9, 4: 16}

In [23]:
tuples = [('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5')]
sorted_tuples = sorted(tuples, key=lambda x: float(x[1]),reverse=True)
print(sorted_tuples)

[('item3', '24.5'), ('item2', '15.10'), ('item1', '12.20')]

In [16]:
x = {1, 2, 3, 4}
for i in x:
    print(i)
x.add(5)
x.add(6)
print("Ensemble après ajout:", x)
x.remove(2)
x.discard(3)
print("Ensemble après suppression:", x)

1
2
3
4
Ensemble après ajout: {1, 2, 3, 4, 5, 6}
Ensemble après suppression: {1, 3, 4, 5, 6}